[ req ]
default_bits       = 2048
distinguished_name = dn
prompt             = no
x509_extensions    = v3_req

[ dn ]
CN = automation-jwt

[ v3_req ]
keyUsage             = digitalSignature
extendedKeyUsage     = clientAuth